In [1]:
from sqlmodel import create_engine

CONN_URL="postgresql+psycopg2://tonyne:tonyne@localhost:5432/notebooks"

engine = create_engine(CONN_URL, echo=True)

In [2]:
from typing import List, Optional

from sqlmodel import Field, Relationship, SQLModel


class Team(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    headquarters: str

    heroes: List["Hero"] = Relationship(back_populates="team")


class Hero(SQLModel, table=True):
    id: Optional[int] = Field(default=None, primary_key=True)
    name: str = Field(index=True)
    secret_name: str
    age: Optional[int] = Field(default=None, index=True)

    team_id: Optional[int] = Field(default=None, foreign_key="team.id")
    team: Optional[Team] = Relationship(back_populates="heroes")

In [3]:
# drop tables
SQLModel.metadata.drop_all(engine)
# create tables
SQLModel.metadata.create_all(engine)

2022-10-03 17:29:22,732 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2022-10-03 17:29:22,733 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-03 17:29:22,737 INFO sqlalchemy.engine.Engine select current_schema()
2022-10-03 17:29:22,738 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-03 17:29:22,741 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2022-10-03 17:29:22,741 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-03 17:29:22,745 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-03 17:29:22,746 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-10-03 17:29:22,747 INFO sqlalchemy.engine.Engine [generated in 0.00105s] {'name': 'team'}
2022-10-03 17:29:22,750 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-10-03 17:29:22,752 INFO sqlalchemy.engine.Engine [cached since 0.005889s ago] {'name': 'hero'}
2022-10-03 17:29:22,755 INFO sqlalchemy.engine.Engine
CREATE TABLE team (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	headquarters VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2022-10-03 17:29:22,756 INFO sqlalchemy.engine.Engine [no key 0.00082s] {}
2022-10-03 17:29:22,765 INFO sqlalchemy.engine.Engine CREATE INDEX ix_team_name ON team (name)
2022-10-03 17:29:22,765 INFO sqlalchemy.engine.Engine [no key 0.00045s] {}
2022-10-03 17:29:22,769 INFO sqlalchemy.engine.Engine
CREATE TABLE hero (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	secret_name VARCHAR NOT NULL,
	age INTEGER,
	team_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(team_id) REFERENCES team (id)
)


2022-10-03 17:29:22,770 INFO sqlalchemy.engine.Engine [no key 0.00040s] {}
2022-10-03 17:29:22,775 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_age ON hero (age)
2022-10-03 17:29:22,776 INFO sqlalchemy.engine.Engine [no key 0.00070s] {}
2022-10-03 17:29:22,779 INFO sqlalchemy.engine.Engine CREATE INDEX ix_hero_name ON hero (name)
2022-10-03 17:29:22,780 INFO sqlalchemy.engine.Engine [no key 0.00063s] {}
2022-10-03 17:29:22,783 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
from sqlmodel import Session

def create_heroes():
    with Session(engine) as session:
        team_preventers = Team(name="Preventers", headquarters="Sharp Tower")
        team_z_force = Team(name="Z-Force", headquarters="Sister Margaret’s Bar")
        session.add(team_preventers)
        session.add(team_z_force)
        session.commit()

        hero_deadpond = Hero(
            name="Deadpond", secret_name="Dive Wilson", team_id=team_z_force.id
        )
        hero_rusty_man = Hero(
            name="Rusty-Man",
            secret_name="Tommy Sharp",
            age=48,
            team_id=team_preventers.id,
        )
        hero_spider_boy = Hero(name="Spider-Boy", secret_name="Pedro Parqueador")
        session.add(hero_deadpond)
        session.add(hero_rusty_man)
        session.add(hero_spider_boy)
        session.commit()

        session.refresh(hero_deadpond)
        session.refresh(hero_rusty_man)
        session.refresh(hero_spider_boy)

        print("Created hero:", hero_deadpond)
        print("Created hero:", hero_rusty_man)
        print("Created hero:", hero_spider_boy)

In [5]:
create_heroes()

2022-10-03 17:31:44,849 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-03 17:31:44,851 INFO sqlalchemy.engine.Engine INSERT INTO team (name, headquarters) VALUES (%(name)s, %(headquarters)s) RETURNING team.id
2022-10-03 17:31:44,852 INFO sqlalchemy.engine.Engine [generated in 0.00062s] ({'name': 'Preventers', 'headquarters': 'Sharp Tower'}, {'name': 'Z-Force', 'headquarters': 'Sister Margaret’s Bar'})
2022-10-03 17:31:44,862 INFO sqlalchemy.engine.Engine COMMIT
2022-10-03 17:31:44,867 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-03 17:31:44,871 INFO sqlalchemy.engine.Engine SELECT team.id AS team_id, team.name AS team_name, team.headquarters AS team_headquarters
FROM team
WHERE team.id = %(pk_1)s
2022-10-03 17:31:44,871 INFO sqlalchemy.engine.Engine [generated in 0.00086s] {'pk_1': 2}
2022-10-03 17:31:44,881 INFO sqlalchemy.engine.Engine SELECT team.id AS team_id, team.name AS team_name, team.headquarters AS team_headquarters
FROM team
WHERE team.id = %(pk_1)s
2022-10-03 17:31:44,882 INFO sqlalchemy.engine.Engine [cached since 0.01167s ago] {'pk_1': 1}
2022-10-03 17:31:44,889 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age, team_id) VALUES (%(name)s, %(secret_name)s, %(age)s, %(team_id)s) RETURNING hero.id
2022-10-03 17:31:44,890 INFO sqlalchemy.engine.Engine [generated in 0.00040s] ({'name': 'Deadpond', 'secret_name': 'Dive Wilson', 'age': None, 'team_id': 2}, {'name': 'Rusty-Man', 'secret_name': 'Tommy Sharp', 'age': 48, 'team_id': 1}, {'name': 'Spider-Boy', 'secret_name': 'Pedro Parqueador', 'age': None, 'team_id': None})
2022-10-03 17:31:44,897 INFO sqlalchemy.engine.Engine COMMIT
2022-10-03 17:31:44,900 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-03 17:31:44,901 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age, hero.team_id
FROM hero
WHERE hero.id = %(pk_1)s
2022-10-03 17:31:44,901 INFO sqlalchemy.engine.Engine [generated in 0.00042s] {'pk_1': 1}
2022-10-03 17:31:44,905 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age, hero.team_id
FROM hero
WHERE hero.id = %(pk_1)s
2022-10-03 17:31:44,905 INFO sqlalchemy.engine.Engine [cached since 0.004448s ago] {'pk_1': 2}
2022-10-03 17:31:44,907 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age, hero.team_id
FROM hero
WHERE hero.id = %(pk_1)s
2022-10-03 17:31:44,908 INFO sqlalchemy.engine.Engine [cached since 0.006877s ago] {'pk_1': 3}
Created hero: name='Deadpond' secret_name='Dive Wilson' team_id=2 age=None id=1
Created hero: name='Rusty-Man' secret_name='Tommy Sharp' team_id=1 age=48 id=2
Created hero: name='Spider-Boy' secret_name='Pedro Parqueador' team_id=None age=None id=3
2022-10-03 17:31:44,909 INFO sqlalchemy.engine.Engine ROLLBACK

In [14]:
from sqlmodel import select
from loguru import logger

def select_heroes():
    with Session(engine) as session:
        statement = select(Hero).where(Hero.name == "Spider-Boy")
        result = session.exec(statement)
        hero_spider_boy = result.one()
        logger.info(f"\n==> {hero_spider_boy}")

        statement = select(Team).where(Team.id == hero_spider_boy.team_id)
        result = session.exec(statement)
        team = result.first()
        logger.info(f"\n==> Spider-Boy's team: {team}")
        
        # same statement
        logger.info(f"\n==> Spider-Boy's team again: {hero_spider_boy.team}")
        
select_heroes()

2022-10-03 17:47:55,914 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-03 17:47:55,923 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age, hero.team_id
FROM hero
WHERE hero.name = %(name_1)s
2022-10-03 17:47:55,925 INFO sqlalchemy.engine.Engine [cached since 908.6s ago] {'name_1': 'Spider-Boy'}

2022-10-03 17:47:55.947 | INFO     | __main__:select_heroes:9 -
==> name='Spider-Boy' secret_name='Pedro Parqueador' team_id=1 age=None id=3

2022-10-03 17:47:55,950 INFO sqlalchemy.engine.Engine SELECT team.id, team.name, team.headquarters
FROM team
WHERE team.id = %(id_1)s
2022-10-03 17:47:55,951 INFO sqlalchemy.engine.Engine [generated in 0.00074s] {'id_1': 1}

2022-10-03 17:47:55.954 | INFO     | __main__:select_heroes:14 -
==> Spider-Boy's team: id=1 headquarters='Sharp Tower' name='Preventers'
2022-10-03 17:47:55.956 | INFO     | __main__:select_heroes:17 -
==> Spider-Boy's team again: id=1 headquarters='Sharp Tower' name='Preventers'

2022-10-03 17:47:55,956 INFO sqlalchemy.engine.Engine ROLLBACK

In [13]:
def update_heroes():
    with Session(engine) as session:
        statement = select(Hero).where(Hero.name == "Spider-Boy")
        result = session.exec(statement)
        hero_spider_boy = result.one()
        logger.info(f"\n==> Spider-Boy without team: {hero_spider_boy}")

        statement = select(Team).where(Team.name == "Preventers")
        result = session.exec(statement)
        team_preventers = result.one()
        logger.info(f"\n==> Preventers heroes: {team_preventers.heroes}")        
        
        hero_spider_boy.team = team_preventers
        session.add(hero_spider_boy)
        session.commit()

        session.refresh(hero_spider_boy)
        logger.info(f"\n==> Spider-Boy with team: {hero_spider_boy}")


update_heroes()

2022-10-03 17:46:34,537 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-03 17:46:34,540 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age, hero.team_id
FROM hero
WHERE hero.name = %(name_1)s
2022-10-03 17:46:34,540 INFO sqlalchemy.engine.Engine [cached since 827.2s ago] {'name_1': 'Spider-Boy'}

2022-10-03 17:46:34.560 | INFO     | __main__:update_heroes:6 -
==> Spider-Boy without team: name='Spider-Boy' secret_name='Pedro Parqueador' team_id=None age=None id=3

2022-10-03 17:46:34,562 INFO sqlalchemy.engine.Engine SELECT team.id, team.name, team.headquarters
FROM team
WHERE team.name = %(name_1)s
2022-10-03 17:46:34,563 INFO sqlalchemy.engine.Engine [cached since 510.4s ago] {'name_1': 'Preventers'}
2022-10-03 17:46:34,567 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age, hero.team_id AS hero_team_id
FROM hero
WHERE %(param_1)s = hero.team_id
2022-10-03 17:46:34,567 INFO sqlalchemy.engine.Engine [cached since 510.4s ago] {'param_1': 1}

2022-10-03 17:46:34.570 | INFO     | __main__:update_heroes:11 -
==> Preventers heroes: [Hero(name='Rusty-Man', secret_name='Tommy Sharp', team_id=1, age=48, id=2)]

2022-10-03 17:46:34,571 INFO sqlalchemy.engine.Engine UPDATE hero SET team_id=%(team_id)s WHERE hero.id = %(hero_id)s
2022-10-03 17:46:34,571 INFO sqlalchemy.engine.Engine [generated in 0.00045s] {'team_id': 1, 'hero_id': 3}
2022-10-03 17:46:34,573 INFO sqlalchemy.engine.Engine COMMIT
2022-10-03 17:46:34,575 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-03 17:46:34,576 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age, hero.team_id
FROM hero
WHERE hero.id = %(pk_1)s
2022-10-03 17:46:34,576 INFO sqlalchemy.engine.Engine [cached since 889.7s ago] {'pk_1': 3}

2022-10-03 17:46:34.578 | INFO     | __main__:update_heroes:18 -
==> Spider-Boy with team: name='Spider-Boy' secret_name='Pedro Parqueador' team_id=1 age=None id=3

2022-10-03 17:46:34,579 INFO sqlalchemy.engine.Engine ROLLBACK

In [16]:
def delete_heroes():
    with Session(engine) as session:
        statement = select(Team).where(Team.name == "Preventers")
        result = session.exec(statement)
        team_preventers = result.one()
        logger.info(f"\n==> Preventers heroes: {team_preventers.heroes}")        
        
        session.delete(team_preventers)
        session.commit()
        
        statement = select(Hero).where(Hero.name == "Spider-Boy")
        result = session.exec(statement)
        hero_spider_boy = result.one()
        logger.info(f"\n==> Spider-Boy without team: {hero_spider_boy}")
        
        
delete_heroes()

2022-10-05 17:50:11,423 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-05 17:50:11,427 INFO sqlalchemy.engine.Engine SELECT team.id, team.name, team.headquarters
FROM team
WHERE team.name = %(name_1)s
2022-10-05 17:50:11,427 INFO sqlalchemy.engine.Engine [cached since 1.339e+05s ago] {'name_1': 'Preventers'}
2022-10-05 17:50:11,441 INFO sqlalchemy.engine.Engine SELECT hero.id AS hero_id, hero.name AS hero_name, hero.secret_name AS hero_secret_name, hero.age AS hero_age, hero.team_id AS hero_team_id
FROM hero
WHERE %(param_1)s = hero.team_id
2022-10-05 17:50:11,442 INFO sqlalchemy.engine.Engine [cached since 1.339e+05s ago] {'param_1': 1}

2022-10-05 17:50:11.448 | INFO     | __main__:delete_heroes:6 -
==> Preventers heroes: [Hero(name='Rusty-Man', secret_name='Tommy Sharp', team_id=1, age=48, id=2), Hero(name='Spider-Boy', secret_name='Pedro Parqueador', team_id=1, age=None, id=3)]

2022-10-05 17:50:11,451 INFO sqlalchemy.engine.Engine UPDATE hero SET team_id=%(team_id)s WHERE hero.id = %(hero_id)s
2022-10-05 17:50:11,453 INFO sqlalchemy.engine.Engine [cached since 112.5s ago] ({'team_id': None, 'hero_id': 2}, {'team_id': None, 'hero_id': 3})
2022-10-05 17:50:11,464 INFO sqlalchemy.engine.Engine DELETE FROM team WHERE team.id = %(id)s
2022-10-05 17:50:11,465 INFO sqlalchemy.engine.Engine [cached since 112.5s ago] {'id': 1}
2022-10-05 17:50:11,469 INFO sqlalchemy.engine.Engine COMMIT
2022-10-05 17:50:11,474 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-05 17:50:11,475 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age, hero.team_id
FROM hero
WHERE hero.name = %(name_1)s
2022-10-05 17:50:11,476 INFO sqlalchemy.engine.Engine [cached since 1.342e+05s ago] {'name_1': 'Spider-Boy'}

2022-10-05 17:50:11.481 | INFO     | __main__:delete_heroes:14 -
==> Spider-Boy without team: name='Spider-Boy' secret_name='Pedro Parqueador' team_id=None age=None id=3

2022-10-05 17:50:11,482 INFO sqlalchemy.engine.Engine ROLLBACK